.form-container {
  background-color:  #e4e6e9;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 3rem auto;
  margin-top: 60px;
  font-family: 'Poppins', sans-serif;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

.form-group,
.form-group-full {
  display: flex;
  flex-direction: column;
}

.form-group-full {
  grid-column: span 2;
}

label {
  color: #374151;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
select {
  padding: 0.6rem 0.75rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  outline: none;
  transition: border 0.2s ease-in-out;
  font-family: 'Poppins', sans-serif;

}

input:focus,
select:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}


.evaluacion-title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(	33	44	82);
  text-align: center;
  margin-bottom: 20px;

}

.card1 {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  flex: 1;
  min-width: 300px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.form-group,
.form-group-full {
  margin-bottom: 1rem;
}


.card2 {
  height: auto;
  margin-bottom: 20px;
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.documento-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.documento-izquierda {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.documento {
  flex: 1;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  margin-bottom: 5px;
}


.btn-buscar {
  background-color: #1e2a57;
  color: white;
  padding: 0.5rem 18px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}


.btn-buscar:hover {
  background-color: #162044;
}