.user-info {
  font-size: 1rem;

}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c0392b;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
  font-family: 'Poppins', sans-serif;

}


.header {
  height: 60px;
  background-color: rgba(	33	44	82);
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 2rem;  
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  align-items: center;
;
}


.body-container {
  display: flex;
  flex: 1;
  overflow: hidden;
} 

.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  background-color: #ffffff;
  border-top-left-radius: 12px;
}

.header-logo {
  height: 35px;
  object-fit: contain;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  padding: 1rem;
  text-decoration: none; /* Evita subrayado */
  outline: none; /* Evita borde al enfocar */
}

.menu-button:focus,
.menu-button:active {
  outline: none;
  text-decoration: none;
  box-shadow: none;
}
