.carga-container {
  max-width: 900px;
  height: 500px;
  margin: 30px auto;
  padding: 24px;
  padding-bottom: 48px;
  margin-top: 140px;
  background:  #e4e6e9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: 'Poppins', sans-serif;
}

.carga-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  justify-content: center;
}

.carga-header .icon {
  font-size: 20px;
  margin-right: 10px;
}

.carga-header h2 {
  font-size: 20px;
  font-weight: bold;
}

.notas-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

}

.nota-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  height: 300px;
      font-family: 'Poppins', sans-serif;

}

.nota-box h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  
}

.nota-box label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 12px;
}

.nota-box input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.checkbox-row {
  display: flex;
  margin-top: 14px;
  justify-content: right;
  margin-top: 35px;
  
}

.checkbox-row input[type="checkbox"] {
  margin-right: 8px;
}


.botones-acciones {
  margin-top: 48px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.btn-save {
  background-color: #1e2a57; 
  color: white;
  padding: 8px 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-save:hover {
  background-color: #2c3b73;
}

.btn-editar {
  background-color: rgba(86	164	219);
  color: white;
  padding: 8px 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-editar:hover {
background-color: rgba(	0	166	208);
}

.botones-acciones button svg {
  font-size: 15px;
}
