.contenedor-actividades {
  background-color: #e4e6e9;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 20px;
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.opciones label {
  background-color:#f9fbfd;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  cursor: pointer;
  padding: 6px 12px;
  display: flex;
  gap: 6px;
  cursor: pointer;
  color: #333;
}


.titulo-principal {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  color: rgba(	33	44	82);

}

.contenido-columns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

}

.columna {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.card h3 {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}


.card h3 {
  margin-bottom: 0.5rem;
}

.opciones label {
  display: block;
  margin: 4px 0;
}


.contenido-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.columna {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.card-pequena {
  padding: 12px;
  font-size: 0.95rem;
  height: 140px;
}

.card h3 {
  margin-bottom: 8px;
  font-size: 1.1rem;

}

.card p {
  font-size: 0.95rem;
  margin-bottom: 10px;

}

.opciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 0.95rem;
  justify-content: center;
}


.form-buttonss{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-1{
  background-color: #1e2a57;
  color: white;
  height: 140px;
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.card-1 h4{
  margin-top: 35                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        px;
}

.card-pequena1{
  background-color: white;
  color: black;
  height: 145px;
  padding: 15px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}